header.upper-links
    div.container
        div.row
            div.col-xs-12.col-sm-6
                 a.zooniverse_logo(href="http://www.zooniverse.org", target="_blank")
                    img.logo(src="/images/zooniverse.png", alt="Zooniverse")
            div.col-xs-12.col-sm-6
                a.galaxyzoo_logo(href="http://www.galaxyzoo.org", target="_blank")
                    img.logo(src="/images/galaxyzoo.png", alt="Galaxy Zoo")


header.main-title
    div.container
        img.logo(src="/images/logo.png", alt="Moon Zoo")

main.content-area.container
    div.row.title
        h1.col-xs-12 Data

    div.content
        section
            h2 Moon Zoo
            p Moon Zoo was launched in May 2010 and the project was wrapped up in June 2015. Registered users identified, classified, and measured feature shapes on the surface of the Moon using a tailored graphical interface. The interface was also linked to a wide range of education and public outreach material, including a forum and blog, with contributions and moderation by experts and invited specialists (Joy et al., 2011).

        section
            h2 Scientific Objectives
            p The key scientific objectives of Moon Zoo relate to the statistical population survey of small craters, boulder distributions, and cataloguing of various geomorphologic features across the lunar surface such as linear features, bright fresh craters, bench craters, etc. (see Joy et al., 2011 for details). This work focuses on the analysis of the crater survey results around the Apollo 17 region

        section
            h2 The Apollo 17 Landing Site as a Testbed
            p This work focused on the statistical analysis of small (&lt;500 m diameter) impact craters surveyed near the Apollo 17 landing site. The region was selected for a number of reasons: a) it is the best geologically constrained Apollo landing site; b) a wide range of NAC images at different illumination conditions were available at the time of the Moon Zoo interface design; c) its geomorphologic diversity, ranging from uplands, downslopes, old maria, regolith porosity variations,  and extensive secondary craters fields; d) the 40th anniversary of the Apollo landing coincided with the start of this project and we used this opportunity to rekindle the public interest in Moon Zoo by focusing efforts on this region. Indeed, for a period of time (18 months) only images covering the Apollo 17 site were offered to the Moon Zoo users.

        section
            h2 Conclusions
            p In summary, Bugiolacchi et al., 2015 (in press) has: (1) validated a standard expert crater count dataset to use as comparison with Moon Zoo ; (2) tested filtering of spoilers/bad data based on users’ behavioural pattern in relation to crater default size annotations; (3) compared two different mathematical approaches in clustering multiple crater entries, one developed specifically for the Moon Zoo project; (4) derived and compared crater degradation indexes based on the spread of annotation parameters and smoothing of imaging; (5) investigated derived regolith depth from crater count frequency slopes, and found to be consistent with seismic data.

    p Joy, K.H., and 37 co-authors. 2011. Moon Zoo: citizen science in lunar exploration. Astronomy &amp; Geophysics, Volume 52, Issue 2, pp. 2.10-2.12.
