.content-area
    background: #f7edd3
    box-shadow: 0 0 30px rgba(0,0,0,0.3)

    > .title
        background-image: url('/images/title.jpg')
        background-position: center
        background-repeat: no-repeat
        background-size: cover

    > .title > h1
        color: #dfdfdf
        font-family: HelveticaNeue-Light, 'Helvetica Neue', Helvetica, 'Arial Narrow', Arial, sans-serif
        font-weight: normal
        margin: 15px 0

    > .content > section > h2
        font-size: 12px
        font-weight: bold
