.download-link
    background-color: dark-grey
    margin-top: 30px
    margin-bottom: 30px
    padding: 15px 20px

    > a
        align-items: center
        color: white
        display: flex
        flex-direction: row
        justify-content: center

    > a > .icon
        align-items: center
        background-color: #2D5956
        border-radius: 50%
        display: flex
        height: 80px
        justify-content: center
        margin-left: -65px
        margin-right: 15px
        padding: 18px 10px
        width: 80px

    > a > .icon > svg
        display: block
        fill: white
        height: 100%
        width: auto
