.upper-links
    background: linear-gradient(top, #2f414f, #374c5d)

    > .container > .row > div
        text-align: center

    > .container > .row > div:first-of-type
        padding-top: 5px
        padding-bottom: 5px
        @media (min-width: $screen-sm-min)
            text-align: left

    > .container > .row > div:last-of-type
        padding-top: 3px
        padding-bottom: 3px
        @media (min-width: $screen-sm-min)
            text-align: right

